@media (min-width: 768px) {
    #header {
        display: flex;
        flex-direction: row;
    }

    .menu {
        list-style: none;
        display: flex;
        align-items: flex-end;
        position: static;
    } 

    .menu ul {
        display: flex;
    }

    .menu-icon {
        display: none;
    }
    /*FIM MENU*/

    #content {
        max-width: 90%;
        
    }

    #form-login {
        width: 90%;
    }  

    #form-login input, textarea {
        line-height: 1.2rem;
        font-size: 1.1rem;
    }

}